body {
  background: url(https://img.freepik.com/free-vector/cloud-background-pastel-paper-cut-design-vector_53876-135919.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}